.l-header {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: #fff;
}
.header-left {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.menu {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.menu__item {
  text-decoration: none;
  color: #020202;
}
.menu__link {
  text-decoration: inherit;
  color: inherit;
  border-bottom: 2px solid;
  border-color: transparent;
}
.menu__link:hover {
  border-color: #020202;
}
