<header class="l-header padding-container">
  <div class="header-left">
    <app-hamburguer></app-hamburguer>
    <span> LOGO </span>
  </div>
  <nav class="nav">
    <ul class="menu">
      <li class="menu__item">
        <a class="menu__link" href="#"> link 1 </a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#"> link 2 </a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#"> link 3 </a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#"> link 4 </a>
      </li>
    </ul>
  </nav>
</header>
