<aside class="sidebar">
  <h1 class="sidebar__title">Sidebar</h1>
  <section class="sidebar-section">
    <h2 class="sidebar-section__title">Section 1</h2>
    <nav class="nav">
      <ul class="sidebar-menu">
        <li class="sidebar-menu__item">
          <a href="#" class="sidebar-menu__link"> Link 1</a>
        </li>
        <li class="sidebar-menu__item">
          <a href="#" class="sidebar-menu__link"> Link 2</a>
        </li>
        <li class="sidebar-menu__item">
          <a href="#" class="sidebar-menu__link"> Link 3</a>
        </li>
      </ul>
    </nav>
  </section>
  <section class="sidebar-section">
    <h2 class="sidebar-section__title">Section 2</h2>
    <nav class="nav">
      <ul class="sidebar-menu">
        <li class="sidebar-menu__item">
          <a href="#" class="sidebar-menu__link"> Link 1</a>
        </li>
        <li class="sidebar-menu__item">
          <a href="#" class="sidebar-menu__link"> Link 2</a>
        </li>
        <li class="sidebar-menu__item">
          <a href="#" class="sidebar-menu__link"> Link 3</a>
        </li>
      </ul>
    </nav>
  </section>
  <section class="sidebar-section">
    <h2 class="sidebar-section__title">Section 3</h2>
    <nav class="nav">
      <ul class="sidebar-menu">
        <li class="sidebar-menu__item">
          <a href="#" class="sidebar-menu__link"> Link 1</a>
        </li>
        <li class="sidebar-menu__item">
          <a href="#" class="sidebar-menu__link"> Link 2</a>
        </li>
        <li class="sidebar-menu__item">
          <a href="#" class="sidebar-menu__link"> Link 3</a>
        </li>
      </ul>
    </nav>
  </section>
</aside>
