.sidebar {
  transform: translateX(-100%);
  box-shadow: 3px 10px 10px #c2c2c2;
  background-color: #fff;
  padding: 1rem;
  height: 100%;
  width: 250px;
}
.sidebar h1 {
  margin-top: 0;
  margin-bottom: 0;
}
.sidebar-section {
}
.sidebar-section__title {
  font-size: 1rem;
}
