/* You can add global styles to this file, and also import other style files */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
  font-size: 15px;
  margin: 0;
  background-color: #f2f2f2;
}

.padding-container {
  padding-left: 5rem;
  padding-right: 5rem;
}
